######################
# Eclipse
######################
*.pydevproject
.project
.metadata
.recommenders
/**/bin/**
/tmp/**
/tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/**
.loadpath
/src/main/resources/rebel.xml
Lorem.txt
/JavaIntermediaire/bin/HelloIntermediaire.class
######################
# Node
######################
/node/**
/node_tmp/**
/node_modules/**
